<h1>Generate</h1>

<div class="well">
<%= form_for (@code) do |f| %>

  

  <div id="datetimepicker4" class="input-append date">
   <!--  <input id = "token_timevalid" data-format="dd/MM/yyyy" type="text"></input> -->
   <%= text_field(:token, :datevalid, data: {format: 'dd/MM/yyyy'}) %>

    <span class="add-on">
      <i data-date-icon="icon-calendar">
      </i>
    </span>
  </div>

  <div id="datetimepicker3" class="input-append">
  	 <%= text_field(:token, :timevalid, data: {format: 'hh:mm'}) %>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
  <%= f.submit "Create link", class: "btn btn-large btn-primary" %>
  <% end %>
</div>




<script type="text/javascript">
  $(function() {
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });
</script><script type="text/javascript">
  $(function() {
    $('#datetimepicker3').datetimepicker({
      pickDate: false,
      pickSeconds: false
    });
  });
</script>