<h1>Generate</h1>

<%= form_for(@code) do |f| %>
<!-- <%= select_tag(:id, options_for_select([['One Week',1],['Two Weeks',2],['One Month',3]])) %> -->




 <%= select(:token, :timevalid,[['One Week',1],['Two Weeks',2],['One Month',3]]) %>
  <%= f.submit "Create link", class: "btn btn-large btn-primary" %>
<% end %>

