<h1>Generate</h1>

<%= form_for(@code) do |f| %>

      <%= f.label :timevalid %>
      <%= f.text_field :timevalid %>

      <%= f.submit "Create super secret code", class: "btn btn-large btn-primary" %>
    <% end %>