<h1>Generate</h1>

<%= form_for(@code) do |f| %>

  <%= f.label :timevalid, "Time (in hours)" %>
  <br/>
  <%= f.text_field :timevalid, :placeholder => "The time your link will be valid" %>

  <%= f.submit "Create link", class: "btn btn-large btn-primary" %>
<% end %>

