<h1>Private</h1>
The link to visit your page is: <a href="<%= @url %>">Secret Link</a>
<br />
<img src="<%= qr_code(150, @url) %>" />
<br />
<%= social_share_button_tag("Bekijk mijn Certwell profiel ", :url => @url) %>
